/.vscode
/Capture.JPG
/Drugi nacin unosenja audio u sajt HTML5.html
/htmlcode2.html
/Posao_raspored.html
/prvi_broj.html
/Raspored.html
/Raspored.txt
/Test-1.css
/Test-1.html
/Test-2.html
/Web Development.pdf